@use '../sizes.scss' as *;
#discount {
	.discount-container {
		display: flex;

		@media (width > $tablet) {
			flex-direction: column;
		}
		@media (width > $desctop) {
			flex-direction: row;
		}
		img {
			display: none;
			object-fit: cover;
			border-radius: 20px;
			@media (width > $tablet) {
				display: block;
				height: 400px;
				width: 100%;
				border-radius: 20px 20px 0 0;
			}
			@media (width > $desctop) {
				display: flex;
				height: auto;
				border-radius: 20px 0 0 20px;
			}
		}
		.discount {
			width: 100%;
			height: 100%;
			border-radius: 20px;
			background: #34623f;
			padding: 40px 33px;
			display: flex;
			flex-direction: column;
			gap: 25px;
			* {
				max-width: 531px;
				// margin-left: 60px;
			}
			@media (width > $tablet) {
				display: flex;
				height: auto;
				justify-content: space-around;
				padding-left: 60px;
				border-radius: 0px 0px 20px 20px;
			}
			@media (width > $desctop) {
				display: flex;
				height: auto;
				justify-content: space-around;
				border-radius: 0 20px 20px 0;
			}
		}
	}
}
