@use '../sizes' as *;

/* Define keyframes for opening animation */
@keyframes openAnimation {
	0% {
		max-height: 0;
		opacity: 0;
	}

	100% {
		max-height: 500px; /* Adjust the maximum height as needed */
		opacity: 1;
	}
}

/* Define keyframes for closing animation */
@keyframes closeAnimation {
	0% {
		max-height: 500px; /* Adjust the maximum height as needed */
		opacity: 1;
	}
	100% {
		max-height: 0;
		opacity: 0;
	}
}

#services {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	@media (width >= $desctop) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-column-gap: 15px;
		grid-row-gap: 15px;

		// max-height: 400px;
	}

	.service-card {
		.background {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			border-radius: 20px;
			&.master {
				object-position: left top;
			}
		}

		height: auto;
		border-radius: 20px;
		cursor: pointer;

		.text-container {
			padding: 20px 26px;
			background: linear-gradient(rgba(52, 98, 63, 0.8), rgba(52, 98, 63, 0.8));
			width: 100%;
			border-radius: 20px 0px 92px 20px;
			height: 100%;
			max-width: fit-content;
		}

		.title {
			width: 100%;
			display: flex;
			// justify-content: center;
			align-items: center;

			.title-text {
				margin-left: 12px;
				@media (width > $tablet) {
					margin-left: 24px;
				}
			}
		}
		.body-text {
			margin-top: 8px;

			@media (width > $tablet) {
				margin-top: 44px;
			}
		}

		.service-ico {
			height: 48px;
			width: 48px;
		}
	}

	* {
		color: #f7f7f7;
	}

	// #card-content {
	// 	max-height: 0;
	// 	opacity: 0;
	// 	&.animate-open {
	// 		animation: openAnimation 0.9s ease forwards;
	// 	}
	// 	&.animate-close {
	// 		@media (width < $desctop) {
	// 			animation: closeAnimation 0.9s ease forwards;
	// 		}
	// 	}
	// }
}
