@use '../sizes' as *;

.grid-team-container {
	display: grid;
	gap: 16px;
	align-items: center;
	justify-items: center;

	@media (width > $desctop) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media (width < $desctop) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (width < $tablet) {
		grid-template-columns: repeat(1, 1fr);
	}

	gap: 20px;
	* {
		border-radius: 20px;
	}
	.card {
		display: inline-flex;
		width: 100%;
		min-height: 360px;

		img {
			border-radius: 20px;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		.content {
			position: absolute;
			width: 100%;
			height: 100%;
			box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

			transition: transform 1s;
			transform-style: preserve-3d;
		}
	}
	.card:hover .content {
		transform: rotateY(180deg);
		transition: transform 0.5s;
	}

	.front,
	.back {
		position: absolute;
		height: 100%;
		width: 100%;
		line-height: 300px;
		color: #97bfd5;
		text-align: center;
		font-size: 60px;
	}

	.back {
		background: linear-gradient(rgba(52, 98, 63, 0.8), rgba(52, 98, 63, 0.8));
		backface-visibility: hidden;

		color: white;
		transform: rotateY(180deg);

		position: relative;

		.text-container {
			position: absolute;
			left: 30px;
			bottom: 100px;
			text-align: left;
			p {
				text-align: left;
				font-size: 18px;
				font-style: normal;
				font-weight: 400;
				line-height: 30px; /* 166.667% */
				text-transform: uppercase;
				margin-top: 10px;
			}
		}
		.icons-container {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 75%;
			left: 35px;
			display: flex;
			gap: 16px;

			img {
				border: 1px solid white;
				border-radius: 25%;
				height: 36px;
				width: 36px;
				object-fit: contain;
				cursor: pointer;
			}
		}
	}
}
